
body {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png) 
}

.btn {
  color: rgb(253, 4, 212);
  background-color: rgb(124, 164, 250);
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;  
}
.btn:hover {
  background: white;
}
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: rgb(155, 150, 150);
}

.on {
  background-color: rgb(7, 245, 7);
}
  
.box:hover { 
  background: #00CCFF;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 5px 5px 20px black;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: rgba(252, 186, 7, 0.787);
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  text-shadow: 3px 3px 3px black;
}

h4 {
  margin-top: 0px;
}